@{
    Layout = "~/Views/GoC.WebTemplate/GoCWebTemplate_Layout.cshtml";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>LNHPD APIs</h1>
            </hgroup>

            <table class="wb-tables table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Type de requete:</th>
                        <th></th>
                        <th>Format:</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Tous les Ingredients:</td>
                        <td><a class="btn btn-default" href="./api/ingredient/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/ingredient/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les quantities d'ingredient:</td>
                        <td><a class="btn btn-default" href="./api/ingredientquantity/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/ingredientquantity/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les sources d'ingredient:</td>
                        <td><a class="btn btn-default" href="./api/ingredientsource/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/ingredientsource/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les submissions d'ingredient:</td>
                        <td><a class="btn btn-default" href="./api/ingredientsubmission/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/ingredientsubmission/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les produits:</td>
                        <td><a class="btn btn-default" href="./api/productdose/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productdose/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les licences de produit:</td>
                        <td><a class="btn btn-default" href="./api/productlicence/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productlicence/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les purposes de produit:</td>
                        <td><a class="btn btn-default" href="./api/productpurpose/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productpurpose/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les risques de produit:</td>
                        <td><a class="btn btn-default" href="./api/productrisk/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productrisk/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Les textes de risques de produit:</td>
                        <td><a class="btn btn-default" href="./api/productrisktext/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productrisktext/?type=xml">XML</a></td>
                    </tr>
                    <tr>
                        <td>Tous les routes de produit:</td>
                        <td><a class="btn btn-default" href="./api/productroute/?type=json">Json</a></td>
                        <td><a class="btn btn-default" href="./api/productroute/?type=xml">XML</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

